In [4]:
import pandas as pd
import MySQLdb
import numpy as np
import time
import datetime 
import random
import matplotlib.pyplot as plt
%matplotlib inline 
import statistics 
import requests
from sympy import *
from sympy.solvers import solve
from sympy.parsing.sympy_parser import parse_expr
# ____________________________________________________________________________________________________   

j = 0
d = 30

time_a = pd.date_range('2016-10-01 00:00:00', periods=96*d, freq='D')
time_b = pd.date_range('2016-10-01 23:59:59', periods=96*d, freq='D')

conn = MySQLdb.connect("localhost","conn","hems")
c = conn.cursor()

query_last = "SELECT * FROM thesis.plattern_re WHERE  Timestamp >= '%s' AND Timestamp <= '%s'; "% ('2016-10-01 23:59:59','2016-10-30 23:59:59')
df_last  = pd.read_sql(query_last, conn)

while( j < len(df_last)):
    query_load = "SELECT total_watt FROM thesis.load WHERE  Timestamp >= '%s' AND Timestamp <= '%s'; "% (time_a[j],time_b[j])
    df  = pd.read_sql(query_load, conn)
    print df_load.total_watt.sum()
    j += 1

NameError: name 'df' is not defined

In [3]:
df_last

             Timestamp  total_watt
0  2016-10-01 23:59:59     14.5474
1  2016-10-02 23:59:59     10.4874
2  2016-10-03 23:59:59     14.9423
3  2016-10-04 23:59:59     11.9461
4  2016-10-05 23:59:59     13.4940
5  2016-10-06 23:59:59     11.3145
6  2016-10-07 23:59:59     14.5474
7  2016-10-08 23:59:59     11.7525
8  2016-10-09 23:59:59     12.0908
9  2016-10-10 23:59:59     13.4974
10 2016-10-11 23:59:59     10.3676
11 2016-10-12 23:59:59     13.3194
12 2016-10-13 23:59:59     12.3250
13 2016-10-14 23:59:59     16.6002
14 2016-10-15 23:59:59     10.2337
15 2016-10-16 23:59:59     12.3169
16 2016-10-17 23:59:59     11.3241
17 2016-10-18 23:59:59     11.3479
18 2016-10-19 23:59:59     11.2924
19 2016-10-20 23:59:59     15.6537
20 2016-10-21 23:59:59     11.9598
21 2016-10-22 23:59:59     13.5586
22 2016-10-23 23:59:59     11.7894
23 2016-10-24 23:59:59     12.6898
24 2016-10-25 23:59:59     11.9773
25 2016-10-26 23:59:59     12.0010
26 2016-10-27 23:59:59     13.1805
27 2016-10-28 23:59:59     13.9543
28 2016-10-29 23:59:59     11.7062
29 2016-10-30 23:59:59     10.4874