In [15]:
#http://stackoverflow.com/questions/11845055/predicting-from-previous-datevalue-data
import matplotlib.pyplot as plt
import pandas as pd # v. 1.7
import MySQLdb
import numpy as np
import time
import sys
import datetime 
from datetime import datetime
from sympy import *
from sympy.solvers import solve
from sympy.parsing.sympy_parser import parse_expr
from sklearn.metrics import mean_absolute_error,mean_squared_error
import statistics 
import requests
%matplotlib inline


def initial_trend(series, slen):
    sum = 0.0
    for i in range(slen):
        sum += float(series[i+slen] - series[i]) / slen
    return sum / slen

# >>> initial_trend(series, 12)
# -0.7847222222222222

def triple_exponential_smoothing(series, slen, alpha, beta, gamma, n_preds):
    result = []
    seasonals = initial_seasonal_components(series, slen)
    for i in range(len(series)+n_preds):
        if i == 0: # initial values
            smooth = series[0]
            trend = initial_trend(series, slen)
            result.append(series[0])
            continue
        if i >= len(series): # we are forecasting
            m = i - len(series) + 1
            result.append((smooth + m*trend) + seasonals[i%slen])
        else:
            val = series[i]
            last_smooth, smooth = smooth, alpha*(val-seasonals[i%slen]) + (1-alpha)*(smooth+trend)
            trend = beta * (smooth-last_smooth) + (1-beta)*trend
            seasonals[i%slen] = gamma*(val-smooth) + (1-gamma)*seasonals[i%slen]
            result.append(smooth+trend+seasonals[i%slen])
    return result

# # forecast 24 points (i.e. two seasons)
# >>> triple_exponential_smoothing(series, 12, 0.716, 0.029, 0.993, 24)
# [30, 20.34449316666667, 28.410051892109554, 30.438122252647577, 39.466817731253066, ...


def initial_seasonal_components(series, slen):
    seasonals = {}
    season_averages = []
    n_seasons = int(len(series)/slen)
    # compute season averages
    for j in range(n_seasons):
        season_averages.append(sum(series[slen*j:slen*j+slen])/float(slen))
    # compute initial values
    for i in range(slen):
        sum_of_vals_over_avg = 0.0
        for j in range(n_seasons):
            sum_of_vals_over_avg += series[slen*j+i]-season_averages[j]
        seasonals[i] = sum_of_vals_over_avg/n_seasons
    return seasonals
##-----------------------------------------------------------------------------------
from sklearn.metrics import mean_squared_error
def fittingparameter(data_y,j):
    count_alpha = 0
    count_beta = 0
    count_gamma = 0
    alpha = float(0)
    beta = float(0)
    gamma = float(0)
    index_alpha =[]
    index_beta =[]
    index_gamma = []
    act = j
    data = data_y
    pred_no = 1
    ramda = 0.1
    MSE_holtload = []
#     query1 = "SELECT active_power FROM prediction.data15min_4y WHERE Timestamp >= '%s' AND TimeStamp <= '%s';"% (time_b[act+1],time_b[act+96])
    query1 = "SELECT total_watt FROM thesis.load WHERE Timestamp = '%s' ;"% (time_b_last[act+1])
    print query1
    df1 = pd.read_sql(query1, conn)
    while (alpha <= float(1)):
        count_alpha += 1
        beta = float(0)
        while (beta <=float(1)):
            count_beta += 1 
            gamma = float(0)
            while (gamma <= float(1)):
                count_gamma += 1
                pred_h = triple_exponential_smoothing(data, 96*7,alpha,beta ,gamma, pred_no)
                pred_data = pred_h[len(pred_h)-(pred_no):]                                               
                MSE = mean_squared_error (df1.total_watt, pred_data)   
#                 print MSE              
                MSE_holtload.append(MSE)
                index_alpha.append(alpha)
                index_beta.append(beta)
                index_gamma.append(gamma)     
#                 print index_alpha,index_beta,index_gamma
                gamma += ramda
            beta += ramda
        alpha += ramda  
#     print  count_gamma,count_beta,count_alpha    
    index_MSE = MSE_holtload.index(min(MSE_holtload))
#     print min(MSE_holtload)
#     print index_MSE
    MSE_min = MSE_holtload[index_MSE]
    alpha = index_alpha[index_MSE]
    beta = index_beta[index_MSE]
    gamma= index_gamma[index_MSE]
#     print count_alpha,count_beta,count_gamma
    print MSE_min,alpha,beta,gamma
    return (alpha,beta,gamma)

def notify(msg):
    URL = "https://notify-api.line.me/api/notify"
    ACCESS_TOKEN = "vxm278yAqFQcXbo2DlTbLD7pqO0QWU2McdNbiwhJWwp"
    MESSAGE_FIELD = {"message" : msg}
    LINE_HEADERS = { "Authorization": "Bearer " + ACCESS_TOKEN }
    try:
        response = requests.post( url=URL,headers=LINE_HEADERS,data=MESSAGE_FIELD)
#         print("Response HTTP Status Code: {status_code}".format( status_code=response.status_code))
    except requests.exceptions.RequestException:
        print("HTTP Request failed")

In [16]:
conn = MySQLdb.connect("localhost","conn","hems")
c = conn.cursor()
query = "SELECT Timestamp, total_watt FROM thesis.load WHERE Timestamp >= '%s'   AND TimeStamp <= '%s';"% ("2016-09-01 00:14:59","2017-03-31 23:59:59")
df = pd.read_sql(query, conn , index_col=['Timestamp'])

pred_no = 1 # power 1 Data/15min in 1Hr --> 60/15 = 4 and 1day = 4*24 = 96
j = 0
i = 0
d = 182
day =0

conn = MySQLdb.connect("localhost","conn","hems")
c = conn.cursor()

time_a = pd.date_range('2016-10-01 00:00:00', periods=96*d, freq='15T')
time_b = pd.date_range('2016-10-01 00:14:59', periods=96*d, freq='15T')

time_a_last = pd.date_range('2016-09-01 00:14:59', periods=96*d, freq='15T')
time_b_last = pd.date_range('2016-09-30 23:44:59', periods=96*d, freq='15T')

# set databases to empty 
query_empty = """truncate table thesis.predict3""" 
c.execute(query_empty)

while (j < 96*d ) :    
    if (j%96 == 0):    
        day += 1
        print "________DAY:" , day
    
    print "\ndata at :" , j,">>>", time_b[j]
    query_last = "SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '%s'   AND TimeStamp <= '%s';"% (time_a_last[j],time_b_last[j])
    print query_last
    df = pd.read_sql(query_last, conn)
    conn.commit()
    data_y = df['total_watt'].values.tolist()
    ans_fiting = fittingparameter(data_y,j)
    
    query_last_new = "SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='%s' AND Timestamp<='%s';"%(time_a_last[j],time_b_last[j+1])
    query_last_new_1 = "SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '%s' ;"% (time_b_last[j+2])
    print "\n",query_last_new  
    print query_last_new_1
    print "BY USE alpha =",ans_fiting[0],"beta =",ans_fiting[1],"gamma =",ans_fiting[2]
    df_last_new = pd.read_sql(query_last_new, conn)
    conn.commit()
    
    data_y = df_last_new['total_watt'].values.tolist()     
    pred_h = triple_exponential_smoothing(data_y, 96*7, ans_fiting[0], ans_fiting[1], ans_fiting[2],1)
    pred_data = pred_h[len(pred_h)-(pred_no):]   
    pred_watt = abs(pred_data[0])

    c.execute("INSERT INTO thesis.predict3 (Timestamp, watt) VALUES ( %s, %s)",(time_b[j],abs(pred_data[0])))
    conn.commit()  
    
    if ( j == 0  or j == 8832 or j == 17471 ):
        notify("moving_6")  
        notify(j)  
            
    j += 1 
print "DONE!!"

________DAY: 1

data at : 0 >>> 2016-10-01 00:14:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 00:14:59'   AND TimeStamp <= '2016-09-30 23:44:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-09-30 23:59:59' ;
0.00308141136391 0.8 0.4 0.4

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 00:14:59' AND Timestamp<='2016-09-30 23:59:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 00:14:59' ;
BY USE alpha = 0.8 beta = 0.4 gamma = 0.4

data at : 1 >>> 2016-10-01 00:29:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 00:29:59'   AND TimeStamp <= '2016-09-30 23:59:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 00:14:59' ;
0.0239772336216 0.4 0.1 0.9

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 00:29:59' AND Timestamp<='2016-10-01 00:14:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 00:29:59' ;
BY USE alpha = 0.4 beta = 0.1 gamma = 0.9

data at : 2 >>> 2016-10-01 00:44:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 00:44:59'   AND TimeStamp <= '2016-10-01 00:14:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 00:29:59' ;
9.68788266719e-05 0.7 0.1 0.0

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 00:44:59' AND Timestamp<='2016-10-01 00:29:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 00:44:59' ;
BY USE alpha = 0.7 beta = 0.1 gamma = 0.0

data at : 3 >>> 2016-10-01 00:59:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 00:59:59'   AND TimeStamp <= '2016-10-01 00:29:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 00:44:59' ;
0.0805943028151 0.1 0.2 0.7

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 00:59:59' AND Timestamp<='2016-10-01 00:44:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 00:59:59' ;
BY USE alpha = 0.1 beta = 0.2 gamma = 0.7

data at : 4 >>> 2016-10-01 01:14:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 01:14:59'   AND TimeStamp <= '2016-10-01 00:44:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 00:59:59' ;
0.00380961873074 0.4 0.3 0.0

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 01:14:59' AND Timestamp<='2016-10-01 00:59:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 01:14:59' ;
BY USE alpha = 0.4 beta = 0.3 gamma = 0.0

data at : 5 >>> 2016-10-01 01:29:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 01:29:59'   AND TimeStamp <= '2016-10-01 00:59:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 01:14:59' ;
0.044256732218 0.2 0.4 0.7

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 01:29:59' AND Timestamp<='2016-10-01 01:14:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 01:29:59' ;
BY USE alpha = 0.2 beta = 0.4 gamma = 0.7

data at : 6 >>> 2016-10-01 01:44:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 01:44:59'   AND TimeStamp <= '2016-10-01 01:14:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 01:29:59' ;
0.111730496592 0.3 0.4 0.8

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 01:44:59' AND Timestamp<='2016-10-01 01:29:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 01:44:59' ;
BY USE alpha = 0.3 beta = 0.4 gamma = 0.8

data at : 7 >>> 2016-10-01 01:59:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 01:59:59'   AND TimeStamp <= '2016-10-01 01:29:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 01:44:59' ;
0.103123664303 0.4 0.5 0.9

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 01:59:59' AND Timestamp<='2016-10-01 01:44:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 01:59:59' ;
BY USE alpha = 0.4 beta = 0.5 gamma = 0.9

data at : 8 >>> 2016-10-01 02:14:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 02:14:59'   AND TimeStamp <= '2016-10-01 01:44:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 01:59:59' ;
0.130324445018 0.3 1.0 0.5

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 02:14:59' AND Timestamp<='2016-10-01 01:59:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 02:14:59' ;
BY USE alpha = 0.3 beta = 1.0 gamma = 0.5

data at : 9 >>> 2016-10-01 02:29:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 02:29:59'   AND TimeStamp <= '2016-10-01 01:59:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 02:14:59' ;
0.00538887021869 0.2 0.5 0.3

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 02:29:59' AND Timestamp<='2016-10-01 02:14:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 02:29:59' ;
BY USE alpha = 0.2 beta = 0.5 gamma = 0.3

data at : 10 >>> 2016-10-01 02:44:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 02:44:59'   AND TimeStamp <= '2016-10-01 02:14:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 02:29:59' ;
9.98211832008e-05 0.3 0.7 0.0

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 02:44:59' AND Timestamp<='2016-10-01 02:29:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 02:44:59' ;
BY USE alpha = 0.3 beta = 0.7 gamma = 0.0

data at : 11 >>> 2016-10-01 02:59:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 02:59:59'   AND TimeStamp <= '2016-10-01 02:29:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 02:44:59' ;
4.89586774182 0.3 0.5 0.6

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 02:59:59' AND Timestamp<='2016-10-01 02:44:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 02:59:59' ;
BY USE alpha = 0.3 beta = 0.5 gamma = 0.6

data at : 12 >>> 2016-10-01 03:14:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 03:14:59'   AND TimeStamp <= '2016-10-01 02:44:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 02:59:59' ;
0.0657431224445 0.2 0.9 0.1

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 03:14:59' AND Timestamp<='2016-10-01 02:59:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 03:14:59' ;
BY USE alpha = 0.2 beta = 0.9 gamma = 0.1

data at : 13 >>> 2016-10-01 03:29:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 03:29:59'   AND TimeStamp <= '2016-10-01 02:59:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 03:14:59' ;
0.000514641201705 0.7 0.7 0.1

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 03:29:59' AND Timestamp<='2016-10-01 03:14:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 03:29:59' ;
BY USE alpha = 0.7 beta = 0.7 gamma = 0.1

data at : 14 >>> 2016-10-01 03:44:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 03:44:59'   AND TimeStamp <= '2016-10-01 03:14:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 03:29:59' ;
0.0093308802464 0.1 0.8 0.3

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 03:44:59' AND Timestamp<='2016-10-01 03:29:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 03:44:59' ;
BY USE alpha = 0.1 beta = 0.8 gamma = 0.3

data at : 15 >>> 2016-10-01 03:59:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 03:59:59'   AND TimeStamp <= '2016-10-01 03:29:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 03:44:59' ;
0.004298673865 0.7 0.5 1.0

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 03:59:59' AND Timestamp<='2016-10-01 03:44:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 03:59:59' ;
BY USE alpha = 0.7 beta = 0.5 gamma = 1.0

data at : 16 >>> 2016-10-01 04:14:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 04:14:59'   AND TimeStamp <= '2016-10-01 03:44:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 03:59:59' ;
0.0502573150213 0.3 0.2 0.9

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 04:14:59' AND Timestamp<='2016-10-01 03:59:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 04:14:59' ;
BY USE alpha = 0.3 beta = 0.2 gamma = 0.9

data at : 17 >>> 2016-10-01 04:29:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 04:29:59'   AND TimeStamp <= '2016-10-01 03:59:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 04:14:59' ;
0.000517306654194 0.6 0.7 0.2

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 04:29:59' AND Timestamp<='2016-10-01 04:14:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 04:29:59' ;
BY USE alpha = 0.6 beta = 0.7 gamma = 0.2

data at : 18 >>> 2016-10-01 04:44:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 04:44:59'   AND TimeStamp <= '2016-10-01 04:14:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 04:29:59' ;
0.0134819975188 0.4 1.0 0.5

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 04:44:59' AND Timestamp<='2016-10-01 04:29:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 04:44:59' ;
BY USE alpha = 0.4 beta = 1.0 gamma = 0.5

data at : 19 >>> 2016-10-01 04:59:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 04:59:59'   AND TimeStamp <= '2016-10-01 04:29:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 04:44:59' ;
0.0192292364566 0.9 0.9 0.8

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 04:59:59' AND Timestamp<='2016-10-01 04:44:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 04:59:59' ;
BY USE alpha = 0.9 beta = 0.9 gamma = 0.8

data at : 20 >>> 2016-10-01 05:14:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 05:14:59'   AND TimeStamp <= '2016-10-01 04:44:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 04:59:59' ;
0.00599524166028 0.9 0.4 0.1

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 05:14:59' AND Timestamp<='2016-10-01 04:59:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 05:14:59' ;
BY USE alpha = 0.9 beta = 0.4 gamma = 0.1

data at : 21 >>> 2016-10-01 05:29:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 05:29:59'   AND TimeStamp <= '2016-10-01 04:59:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 05:14:59' ;
7.97415485022e-05 0.4 0.6 0.2

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 05:29:59' AND Timestamp<='2016-10-01 05:14:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 05:29:59' ;
BY USE alpha = 0.4 beta = 0.6 gamma = 0.2

data at : 22 >>> 2016-10-01 05:44:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 05:44:59'   AND TimeStamp <= '2016-10-01 05:14:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 05:29:59' ;
0.00892001865855 0.4 0.7 0.7

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 05:44:59' AND Timestamp<='2016-10-01 05:29:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 05:44:59' ;
BY USE alpha = 0.4 beta = 0.7 gamma = 0.7

data at : 23 >>> 2016-10-01 05:59:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 05:59:59'   AND TimeStamp <= '2016-10-01 05:29:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 05:44:59' ;
1.17874044954e-06 0.8 0.2 0.4

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 05:59:59' AND Timestamp<='2016-10-01 05:44:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 05:59:59' ;
BY USE alpha = 0.8 beta = 0.2 gamma = 0.4

data at : 24 >>> 2016-10-01 06:14:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 06:14:59'   AND TimeStamp <= '2016-10-01 05:44:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 05:59:59' ;
0.000259430244688 0.7 0.0 0.6

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 06:14:59' AND Timestamp<='2016-10-01 05:59:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 06:14:59' ;
BY USE alpha = 0.7 beta = 0.0 gamma = 0.6

data at : 25 >>> 2016-10-01 06:29:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 06:29:59'   AND TimeStamp <= '2016-10-01 05:59:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 06:14:59' ;
1.38832084297 0.1 0.4 0.4

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 06:29:59' AND Timestamp<='2016-10-01 06:14:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 06:29:59' ;
BY USE alpha = 0.1 beta = 0.4 gamma = 0.4

data at : 26 >>> 2016-10-01 06:44:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 06:44:59'   AND TimeStamp <= '2016-10-01 06:14:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 06:29:59' ;
0.00136225318752 0.8 0.5 0.7

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 06:44:59' AND Timestamp<='2016-10-01 06:29:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 06:44:59' ;
BY USE alpha = 0.8 beta = 0.5 gamma = 0.7

data at : 27 >>> 2016-10-01 06:59:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 06:59:59'   AND TimeStamp <= '2016-10-01 06:29:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 06:44:59' ;
0.00553265693453 0.0 0.0 0.5

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 06:59:59' AND Timestamp<='2016-10-01 06:44:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 06:59:59' ;
BY USE alpha = 0.0 beta = 0.0 gamma = 0.5

data at : 28 >>> 2016-10-01 07:14:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 07:14:59'   AND TimeStamp <= '2016-10-01 06:44:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 06:59:59' ;
7.82860652018e-05 0.8 0.2 0.8

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 07:14:59' AND Timestamp<='2016-10-01 06:59:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 07:14:59' ;
BY USE alpha = 0.8 beta = 0.2 gamma = 0.8

data at : 29 >>> 2016-10-01 07:29:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 07:29:59'   AND TimeStamp <= '2016-10-01 06:59:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 07:14:59' ;
0.000337140157083 0.5 0.9 0.6

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 07:29:59' AND Timestamp<='2016-10-01 07:14:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 07:29:59' ;
BY USE alpha = 0.5 beta = 0.9 gamma = 0.6

data at : 30 >>> 2016-10-01 07:44:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 07:44:59'   AND TimeStamp <= '2016-10-01 07:14:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 07:29:59' ;
0.00346886271035 0.4 0.2 0.7

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 07:44:59' AND Timestamp<='2016-10-01 07:29:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 07:44:59' ;
BY USE alpha = 0.4 beta = 0.2 gamma = 0.7

data at : 31 >>> 2016-10-01 07:59:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 07:59:59'   AND TimeStamp <= '2016-10-01 07:29:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 07:44:59' ;
0.00101224453209 0.9 0.5 1.0

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 07:59:59' AND Timestamp<='2016-10-01 07:44:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 07:59:59' ;
BY USE alpha = 0.9 beta = 0.5 gamma = 1.0

data at : 32 >>> 2016-10-01 08:14:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 08:14:59'   AND TimeStamp <= '2016-10-01 07:44:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 07:59:59' ;
0.00163530557245 0.9 0.7 0.8

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 08:14:59' AND Timestamp<='2016-10-01 07:59:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 08:14:59' ;
BY USE alpha = 0.9 beta = 0.7 gamma = 0.8

data at : 33 >>> 2016-10-01 08:29:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 08:29:59'   AND TimeStamp <= '2016-10-01 07:59:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 08:14:59' ;
2.77646529439e-05 0.8 0.4 0.6

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 08:29:59' AND Timestamp<='2016-10-01 08:14:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 08:29:59' ;
BY USE alpha = 0.8 beta = 0.4 gamma = 0.6

data at : 34 >>> 2016-10-01 08:44:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 08:44:59'   AND TimeStamp <= '2016-10-01 08:14:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 08:29:59' ;
2.08518593433e-05 0.4 0.6 0.4

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 08:44:59' AND Timestamp<='2016-10-01 08:29:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 08:44:59' ;
BY USE alpha = 0.4 beta = 0.6 gamma = 0.4

data at : 35 >>> 2016-10-01 08:59:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 08:59:59'   AND TimeStamp <= '2016-10-01 08:29:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 08:44:59' ;
0.0783206999225 0.3 0.7 1.0

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 08:59:59' AND Timestamp<='2016-10-01 08:44:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 08:59:59' ;
BY USE alpha = 0.3 beta = 0.7 gamma = 1.0

data at : 36 >>> 2016-10-01 09:14:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 09:14:59'   AND TimeStamp <= '2016-10-01 08:44:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 08:59:59' ;
0.165707366849 0.1 0.8 0.4

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 09:14:59' AND Timestamp<='2016-10-01 08:59:59';
SELECT Timestamp,total_watt FROM  thesis.load  WHERE Timestamp = '2016-10-01 09:14:59' ;
BY USE alpha = 0.1 beta = 0.8 gamma = 0.4

data at : 37 >>> 2016-10-01 09:29:59
SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp >= '2016-09-01 09:29:59'   AND TimeStamp <= '2016-10-01 08:59:59';
SELECT total_watt FROM thesis.load WHERE Timestamp = '2016-10-01 09:14:59' ;
0.000465739554605 0.7 0.8 0.1

SELECT Timestamp,total_watt FROM  thesis.load WHERE Timestamp>='2016-09-01 09:29:59' AND Timestamp<='2016-10-01 09:14:59';

KeyboardInterrupt: