In [22]:
import pandas as pd
import MySQLdb
import numpy as np
import time
import datetime 
import random
import matplotlib.pyplot as plt
%matplotlib inline 
import statistics 
import requests
from sympy import *
from sympy.solvers import solve
from sympy.parsing.sympy_parser import parse_expr
# ____________________________________________________________________________________________________   

j = 0
d = 30

time_a = pd.date_range('2016-10-01 00:00:00', periods=96*d, freq='D')
time_b = pd.date_range('2016-10-01 23:59:59', periods=96*d, freq='D')

conn = MySQLdb.connect("localhost","conn","hems")
c = conn.cursor()

query_last = "SELECT * FROM thesis.plattern_re WHERE  Timestamp >= '%s' AND Timestamp <= '%s'; "% ('2016-10-01 23:59:59','2016-10-30 23:59:59')
df_last  = pd.read_sql(query_last, conn)
df_last['Load'] = 0.0
while( j < len(df_last)):
    query_load = "SELECT total_watt FROM thesis.load WHERE  Timestamp >= '%s' AND Timestamp <= '%s'; "% (time_a[j],time_b[j])
    df_load  = pd.read_sql(query_load, conn)
    df_last.Load[j] = (df_load.total_watt.sum() /1000)  
    print df_load.total_watt.sum() /1000
    j += 1

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

14.5163327
10.8871525
12.0904092
11.1242288
11.8634106
12.2033931
14.5849842
11.2774194
14.8870574
11.7846588
8.8042703
15.5240054
12.033099
12.5479887
13.481885
12.0553032
12.1650744
12.0836265
9.4609926
12.9098447
15.3050255
10.6967873
11.2260605
13.6575584
12.3337774
14.2773801
11.9094269
12.4341442
10.5958678
14.1078813

In [23]:
df_last

             Timestamp  total_watt       Load
0  2016-10-01 23:59:59     14.5474  14.516333
1  2016-10-02 23:59:59     10.4874  10.887153
2  2016-10-03 23:59:59     14.9423  12.090409
3  2016-10-04 23:59:59     11.9461  11.124229
4  2016-10-05 23:59:59     13.4940  11.863411
5  2016-10-06 23:59:59     11.3145  12.203393
6  2016-10-07 23:59:59     14.5474  14.584984
7  2016-10-08 23:59:59     11.7525  11.277419
8  2016-10-09 23:59:59     12.0908  14.887057
9  2016-10-10 23:59:59     13.4974  11.784659
10 2016-10-11 23:59:59     10.3676   8.804270
11 2016-10-12 23:59:59     13.3194  15.524005
12 2016-10-13 23:59:59     12.3250  12.033099
13 2016-10-14 23:59:59     16.6002  12.547989
14 2016-10-15 23:59:59     10.2337  13.481885
15 2016-10-16 23:59:59     12.3169  12.055303
16 2016-10-17 23:59:59     11.3241  12.165074
17 2016-10-18 23:59:59     11.3479  12.083626
18 2016-10-19 23:59:59     11.2924   9.460993
19 2016-10-20 23:59:59     15.6537  12.909845
20 2016-10-21 23:59:59     11.9598  15.305025
21 2016-10-22 23:59:59     13.5586  10.696787
22 2016-10-23 23:59:59     11.7894  11.226060
23 2016-10-24 23:59:59     12.6898  13.657558
24 2016-10-25 23:59:59     11.9773  12.333777
25 2016-10-26 23:59:59     12.0010  14.277380
26 2016-10-27 23:59:59     13.1805  11.909427
27 2016-10-28 23:59:59     13.9543  12.434144
28 2016-10-29 23:59:59     11.7062  10.595868
29 2016-10-30 23:59:59     10.4874  14.107881